.img-comp-container {
  position: relative;
  margin: auto;
  max-width: 100%;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}
.img-comp-img.img-comp-overlay {
  border-right: 1px solid rgb(0 0 0 / 32%);
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
  max-width: inherit;
}

.wp-block-post-comments {
  max-width: 1000px;
  margin: auto;
}


.img-comp-slider {
  position: absolute;
  top: 0;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 1px;
  height: 100%;
  background-color: #00000011;
  border-radius: 0;
}
.img-comp-slider:after {
  position: absolute;
  top: 50%;
  content: ' ';
  display: block;
  width: 50px;
  margin-left: -25px;
  height: 100%;
}
.img-comp-slider:before {
  position: absolute;
  top: calc( 50% - 20px);
  content: ' ';
  margin-left: -20px;
  background-size: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10zm-7-5.5l3.5 3.5-3.5 3.5V11h-4V9h4V6.5zm-6 11L5.5 14 9 10.5V13h4v2H9v2.5z'/%3E%3C/svg%3E");
  display: block;
  width: 40px;
  height: 40px;
  background-color: #03A9F4;
  border-radius: 50%;
}
.img-comp-select-container {
  display: flex;
  width: 100%;
  padding: 60px;
  justify-content: space-between;
}