.img-comp-container {
  position: relative;
  margin: auto;
  max-width: 100%;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  background: white;
}
.img-comp-img.img-comp-overlay {
  border-right: 1px solid rgb(0 0 0 / 32%);
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
  max-width: inherit;
}

.wp-block-post-comments {
  max-width: 1000px;
  margin: auto;
}

.img-comparator-wrap {
  width: auto;
  display: flex;
}
.img-comparator {
  min-width: 850px;
  margin: 24px auto;
}
.img-comparator h2,
#img-comparator-table h3,
.img-comparator-charts-wrap h3{
  text-align: center;
}
.img-comp-slider {
  position: absolute;
  top: 0;
  z-index: 9;
  cursor: ew-resize;
  width: 1px;
  height: 100%;
  background-color: #00000011;
  border-radius: 0;
}
.img-comp-slider:after {
  position: absolute;
  top: 0;
  content: ' ';
  display: block;
  width: 50px;
  margin-left: -25px;
  height: 100%;
}
.img-comp-slider:before {
  position: absolute;
  top: calc( 50% - 20px);
  content: ' ';
  margin-left: -20px;
  background-size: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10zm-7-5.5l3.5 3.5-3.5 3.5V11h-4V9h4V6.5zm-6 11L5.5 14 9 10.5V13h4v2H9v2.5z'/%3E%3C/svg%3E");
  display: block;
  width: 40px;
  height: 40px;
  background-color: #03A9F4;
  border-radius: 50%;
}
.img-comp-split-container {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
}
.img-comp-select-container {
  justify-content: space-between;
  background: #f3f3f3;
  padding: 16px;
}
.original-image-data {
  text-align: center;
  font-size: 14px;
}

.img-comp-imagedata div{
 width:50%
}

.img-comp-imagedata div p{
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}

#image1Data {
  text-align: right;
}

.img-comp-split-container.img-comp-charts div {
  justify-content: space-evenly;
  margin: 0 auto;
}
.img-comp-split-container.img-comp-linecharts div {
  justify-content: space-evenly;
  margin: 26px auto;
  padding: 25px;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 5px 20px -10px #c7c7c7;
}
.img-comp-container + div {
  background: #f3f3f3;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.img-comp-split-container.img-comp-charts canvas {
  overflow: visible;
}
.chart-legend {
  text-align: center;
  font-size: 14px;
}

#selectImage1Filter {
  margin: 0 10px 0 20px;
  flex: 0 0 30px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  background: white;
}
#selectImage1Filter:before {
  line-height: 26px;
}
#selectImage1Filter:active,
#selectImage1Filter.active {
  color: white;
  background: #03A9F4;
}
#selectImage1Filter span {
  font-size: 18px;
  box-sizing: border-box;
  width: auto;
  line-height: 26px;
}
#selectImage1FilterValue {
  margin: 0 auto 0 10px;
  width: 200px;
}
#image1ContainerOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

p.chart-values {
  text-align: center;
  font-size: 12px;
}
p.chart-values .label {
  padding: 3px 6px;
  margin: 0 3px;
  line-height: 20px;
  border-radius: 10px;
  background:#36a2eb;
  color: white;
  font-weight: bold;
}
p.chart-values .label.data-two {
  background:#ffb729;
}
div#img-comparator-table {
  max-width: 850px;
  margin: auto;
}
div#img-comparator-table table th{
  font-weight: bold;
}