<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:post-content {"layout":{"inherit":true}} /-->
<div class="img-comp-select-container">
  <select id="selectImage1"></select>
  <select id="selectImage2"></select>
</div>
<div class="img-comp-container">
  <div class="img-comp-img">
    <img src="#">
  </div>
  <div class="img-comp-img img-comp-overlay">
    <img src="#">
  </div>
</div>
<!-- wp:post-comments {"textAlign":"left"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
